* {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background:#f3f6fc;
    color:#333;
}

#caixa {
    background-color:#fff;
    width:500px;
    margin:80px auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
	position:relative;
	top:225px;
}

#caixa h1 {
    margin-bottom:20px;
    color:#ffcc00;
    text-align:center;
    font-size:28px;
}

#caixa p {
    margin-bottom:25px;
    font-size:16px;
    text-align:center;
}

label {
    font-weight:bold;
    font-size:16px;
}

input {
    width:95%;
    padding:12px;
    margin-top:8px;
    margin-bottom:18px;
    border:1px solid #ccd;
    border-radius:6px;
    font-size:16px;
}

button {
    width:100%;
    padding:14px;
    background-color:#ffcc00;
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:16px;
	transition: background 0.3s ease;
}

button:hover {
    background-color:#1e5fb4;
}

